@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #30362F;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  h1{
    color: #A59132;
  }
  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #625834;
    background-color: #FFFBDB;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #A59132;
    color: #fffbdb;
    border-radius: 1rem;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #A59132;
    color: #fffbdb;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #fffbdb;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }
  #new-btn:hover,#reset-btn:hover{
    cursor: pointer;
  }
  @media screen and (max-width: 480px) {
    .box {
        font-size: 4vmin;
    }

    #reset-btn,
    #new-btn {
        font-size: 0.8vmin;
    }

    #msg {
        font-size: 2vmin;
    }
}